<div class="box">
  <div class="header">Mi ez?</div>
  <div class="content">
    <p class="text-center"><b>A Kréta Magyarország központosított tanulmányi alaprendszere.</b>
      <br> <br>
      <a
        href="https://hu.wikipedia.org/wiki/K%C3%B6znevel%C3%A9si_Regisztr%C3%A1ci%C3%B3s_%C3%A9s_Tanulm%C3%A1nyi_Alaprendszer"
        target="_blank">Wikipedia</a>
    </p>
    <p>
      Az inzultus generátor a Kréta kiszivárgott forráskódjából származó "DirtyWords.xml" file-ból generál
      kifejezéseket. Nem tudni, a file pontosan mi célt szolgált a rendszer forráskódjában, de annyi biztos, hogy
      rendkívül szórakoztató. Bár alapvetően viccből készítettem az oldalt, sajnos egy sokkal kevésbé szórakoztató
      esemény kapcsán jött létre.
    </p>
  </div>
</div>

<div class="box">
  <div class="header">Kiszivárgott forráskód?</div>
  <div class="content">
    <p>A rendszert fejlesztő céghez egy magára <a href="https://t.me/s/sawarim" target="_blank">Sawarim</a>-ként
      hivatkozó hacker csoport 2022 szeptemberben adathalász módszerrel behatolt és széles körű hozzáférést szerzett
      forráskódokhoz, belső üzenetküldő rendszerekhez, adatbázisokhoz, valamint más érzékeny adatokhoz.
      Szerencsére a
      forráskódon kívül egyéb információt, úgy mint diákok és tanárok személyes adatait tartalmazó adatbázisokat, vagy
      az éles rendszer sérülékenységeit kihasználó szoftvereket nem hoztak nyilvánosságra, de több jel utal arra, hogy
      ezek valóban a birtokukban vannak.
    </p>
    <p>
      Akit érdekel, a megfelelő szakmai fórumokon szétboncolták már a forráskód technikai problémáit, így azokat kár
      részletezni. Alapvetően azon kívül, hogy az elavult technológia és a láthatóan hanyag munka miatt elképesztően
      nehézkesnek tűnik a karbantartása és megszámlálhatatlan üvöltő, amatőr hibát tartalmaz, nem ez a legnagyobb
      probléma a történetben.
    </p>
  </div>
</div>


<div class="box">
  <div class="header">Mi a probléma?</div>
  <div class="content">
    <p>A legaggasztóbb nyilvánvalóan a személyes adatok esetleges kiszivárgása, rossz kezekbe kerülése.
      Ennek a malőrnek a következményeképp akár nyilvánosságra kerülhet minden magyarországi diákról a teljesség igénye
      nélkül
    </p>
    <ul>
      <li>okmány adatai, azonosítói</li>
      <li>elérhetőségei</li>
      <li>gondviselőinek adatai</li>
      <li>kapcsolattartói</li>
      <li>tanulmányi eredményei</li>
      <li>egészségügyi információi</li>
      <li>pénzügyi / banki adatai</li>
    </ul>
    <p>A történtek fényében nem lehet elmenni a projekt finanszírozásának körülményei, története, és a politika
      nyilvánvaló befolyása mellett sem szó nélkül. A kivitelezők több szálon
      is <a
        href="https://atlatszo.hu/kozugy/2017/11/16/korrupcioinfo-az-emmi-allamtitkar-volt-cegtarsanak-cege-kozel-5-milliard-forint-ertekben-kapott-allami-megrendeleseket/"
        target="_blank">összefonódnak a kormánnyal</a>, sőt, <a
        href="https://atlatszo.hu/kozpenz/2022/09/01/palkovics-volt-uzlettarsanak-cegeihez-dolnek-az-allami-megbizasok-tizmilliardokat-koltunk-naluk-oktatasi-informatikara/"
        target="_blank">egyenesen miniszterekkel</a>.
      Sorra nyerik a <a href="https://korrupcioinfo.hu/milliardos_rendszergazdak/"
                        target="_blank">közbeszerzéseket</a> és naívan azt gondolhatnánk, hogy az állami milliárdokból
      futja kritikus,
      országosan kötelezővé tett, központi oktatási szoftverek korrekt lefejlesztésére és a gyerekeink adatainak
      biztonságos kezelésére.
      Nem beszélve arról, hogy országszerte a Krétáról nem sok jót lehet hallani <a
        href="https://hvg.hu/kultura/20180925_kreta_e_naplo_problemak_klik" target="_blank">szülőktől, diákoktól, vagy
        tanároktól</a> - szóval nem csak nem biztonságos, a jelek szerint még csak nem is szolgálja ki a célját
      megfelelően.
    </p>
    <p>Vállalhatatlan az incidens kezelésének módja. A fejlesztő megpróbálta eltitkolni a történteket, ahogy ezt
      nyilvánosságra került belső levelezések alátámasztják. De a kormányközeli sajtóban az incidens gyakorlatilag meg
      sem történt, érdemes átböngészni csak az Origo.hu-n a "Kréta" kifejezésre adott találatokat <a
        href="https://www.origo.hu/kereses/index.html?q=kr%C3%A9ta"
        target="_blank">itt</a>. Bár a hivatalos indoklás egészen másról szól, nem tud nem gyanús lenni az ipari
      miniszter <a
        href="https://www.portfolio.hu/gazdasag/20221109/lemondott-palkovics-laszlo-ipari-miniszter-577714">hirtelen
        távozása sem.</a></p>
    <p>Nem utolsó sorban, 2018 augusztus 15 óta a Kréta a kötelezően alkalmazandó e-napló minden érintett közoktatási
      intézményben, tehát nem számít, mennyire aggaszt az incidens, ha szülőként, tanárként, vagy diákként részt veszel
      a közoktatásban, kénytelen vagy továbbra is a Krétát használni.
  </div>
</div>

<div class="box">
  <div class="header">Bővebben</div>
  <div class="content">
    <ul class="link-collection">
      <li *ngFor="let article of articles"><a target="_blank" href="{{article.url}}">{{article.title}}</a></li>
    </ul>
  </div>
</div>

<div class="under-box">
  <a target="_blank" href="https://github.com/skidoodle/ekreta-src/blob/dev/KretaWeb/Resources/DirtyWords.xml">A
    "DirtyWords.xml" file az eredeti kontextusában</a>
  <a routerLink="/">Vissza</a>
</div>
