@import "../theme/kretainsult-variables";

.bg-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#screenshot-renderer-container {
  z-index: -2;
}

#background-container {
  z-index: -1;
  background: rgb(2, 0, 36);
  background: $bg-color;
}
